In [2]:
#Load Libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier #Import Decision Tree classifier
from sklearn.model_selection import train_test_split #Import train_test_split function
from sklearn import metrics #Import scikit-Learn metrics module for accuracy calculation

In [8]:
#Working with the dataset herer
col_names=['company','job','degree','salary_more_than_100k'] #Load dataset
data=pd.read_csv("salaries.csv",header=None,names=col_names)

In [9]:
data

       company                  job      degree  salary_more_than_100k
0      company                  job      degree  salary_more_then_100k
1       google        sale exective  bachelaors                      0
2       google        sale exective     masters                      0
3       google     business manager  bachelaors                      1
4       google     business manager     masters                      1
5       google  computer programmer  bachelaors                      0
6       google  computer programmer     masters                      1
7   abc pharma        sale exective     masters                      0
8   abc pharma  computer programmer  bachelaors                      0
9   abc pharma     business manager  bachelaors                      0
10  abc pharma     business manager     masters                      1
11    facebook        sale exective  bachelaors                      1
12    facebook        sale exective     masters                      1
13    facebook     business manager  bachelaors                      1
14    facebook     business manager     masters                      1
15    facebook  computer programmer  bachelaors                      1
16    facebook  computer programmer     masters                      1

In [10]:
#Split the data in features and target variable
feature_cols=['company','job','degree']
X=data[feature_cols]
y=data['salary_more_than_100k']

In [18]:
#Import label encoder
from sklearn import preprocessing
#label_encoder object knows how understan word labels
label_encoder=preprocessing.LabelEncoder()
#Encode labels in column
data['company']=label_encoder.fit_transform(data['company'])
data['job']=label_encoder.fit_transform(data['job'])
data['degree']=label_encoder.fit_transform(data['degree'])
print(data.head())

   company  job  degree  salary_more_than_100k
0        1    2       1  salary_more_then_100k
1        3    3       0                      0
2        3    3       2                      0
3        3    0       0                      1
4        3    0       2                      1

In [19]:
#Split the dataset in features and target variable
feature_cols=['company','job','degree']
X=data[feature_cols]
y=data['salary_more_than_100k']
#X=data.values[1:,:3]
#y=data.values[1:,3]#1:,3 one means we are not using the header
print(X)
print(y)

    company  job  degree
0         1    2       1
1         3    3       0
2         3    3       2
3         3    0       0
4         3    0       2
5         3    1       0
6         3    1       2
7         0    3       2
8         0    1       0
9         0    0       0
10        0    0       2
11        2    3       0
12        2    3       2
13        2    0       0
14        2    0       2
15        2    1       0
16        2    1       2
0     salary_more_then_100k
1                         0
2                         0
3                         1
4                         1
5                         0
6                         1
7                         0
8                         0
9                         0
10                        1
11                        1
12                        1
13                        1
14                        1
15                        1
16                        1
Name: salary_more_than_100k, dtype: object

In [20]:
X_train, X_test, y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=100)

In [21]:
#Create Decision Tree classifier object using entropy
clf_entropy=DecisionTreeClassifier(criterion="entropy",max_depth=2)

#Train Decision Tree Classifier
clf_entropy=clf_entropy.fit(X_train,y_train)

In [22]:
#Predict the response for test dataset
y_pred=clf_entropy.predict(X_test)
print("Accuracy",metrics.accuracy_score(y_test,y_pred))

Accuracy 0.5